<div
  style="
    background: #003A75;
    padding: 10px 0;
    font-family: Arial;
    text-align: center;
    color: #fff;
  "
>

    <p style="margin: 0; font-size: 12px;">
        &copy; 2024 <a href="www.SEConsultant.com" style="color: #fff;">SE Consultant</a>
    </p>
</div>