<div
  style="
    background: #003A75;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #fff;
  "
>
  <p style="margin: 0; font-size: 14px;">
    Mobile: +94711967228 | Email: <a href="mailto:seconsultantslk@gmail.com" style="color: #fff; text-decoration: underline;">seconsultantslk@gmail.com</a>
  </p>
  
  <p style="margin: 10px 0 0; font-size: 12px;">
    &copy; 2024 <a href="http://www.SEConsultant.com" style="color: #fff; text-decoration: underline;">SE Consultant</a>
  </p>
</div>
