<div class="header" style="background: #003A75; padding: 10px 0;">
<!-- <p style="margin: 0; 
    padding: 10px 0;
    font-family: Arial;
    text-align: center;
    color: #fff;
">
    SE Consultant
</p> -->
</div>